/*//////////////////////////////////////////////////////////////////*/
/*   APP    */
/*------------------------------------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}

.heading {
  color: white;
  font-size: 100px;
  padding: 30px;
}

.container {
  background: white;
  width: 80vw;
  max-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
a {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
}

.paragraph {
  text-align: left;
  padding: 10px;
  color: #000;
  margin-bottom: 15px;
  /* text-align: left; */
}
.contactParagraph {
  text-align: center;
  padding: 30px;
  color: #000;

  /* text-align: left; */
}
.contactLink {
  color: rgba(44, 44, 44, 0.7);
}
.contactLink:hover {
  color: rgb(8, 8, 8);
  border: 5px solid black;
  padding: 10px;
}

.paragraph-container {
  flex-direction: column;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;

  padding-bottom: 100vh;
}
/*//////////////////////////////////////////////////////////////////*/
/*   HOME PAGE & GAME  */
/*------------------------------------------------------------------*/

/*GAME ON HOME PAGE*/
.App {
  background: url("./Images/dont_grow_up.png") no-repeat;
  background-size: cover;
  font-family: sans-serif;
  text-align: center;
  width: 100vw;
}
.transparent {
  background: transparent;
}
.wrapper {
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.introTitle {
  margin-top: 5rem;
  font-weight: 700;
  font-size: 3rem;
  background: transparent;
  color: white;
}
.introButton {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  font-size: 4rem;
  width: 300px;
  background: white !important;
  margin-top: 15rem;
}
.introButton:hover {
  padding: 12px;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  /* transition: wiggle 3s; */
  animation: wiggle 3s;
  /* animation-delay: 1s; */
}

@keyframes wiggle {
  0% {
    transform: rotate(3deg) scale(1.1);
    font-weight: 900;
  }
  25% {
    transform: rotate(-3deg) scale(1.1);
    font-weight: 900;
  }
  50% {
    transform: rotate(3deg) scale(1.1);
    font-weight: 900;
  }
  100% {
    transform: rotate(0deg) scale(1.1);
    font-weight: 900;
  }
}
.word {
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
}
.wait-char {
  opacity: 0.4;
}
.red {
  opacity: 1;
  color: red;
  text-decoration: line-through;
}

/*//////////////////////////////////////////////////////////////////*/
/*   RULES PAGE  */
/*------------------------------------------------------------------*/

/*Score Card*/
.scoring_system {
  max-width: 100vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 80px;
}

/*//////////////////////////////////////////////////////////////////*/
/*  NAVBAR   */
/*------------------------------------------------------------------*/

.navbar {
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 100vw;
  font-size: 20px;
  top: 0;
  background: black;
  color: white;
  position: sticky;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1200px;
}

.logo-section {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 20px;
  font-size: 30px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.logo-section:hover {
  color: lightgrey;
}

/* .typewriter {
    
} */

.fa-keyboard {
  margin-left: 8px;
  font-size: 30px;
}

/*hide burger-icon when outside mobile view*/
.icon {
  display: none;
}

.fa-gulp {
  font-size: 40px;
  color: red;
}

.fa-hamburger {
  color: white;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 30px;
  justify-content: right;
  margin-right: 20px;
  text-align: center;
  list-style: none;
  width: 60vw;
}

/* .nav-item {

} */

.nav-links {
  display: flex;
  align-items: center;
  height: 75px;
  padding: 20px;
  color: white;
  text-decoration: none;
}

.nav-links:hover {
  border: 3.5px solid white;
  color: lightgrey;
}

/*Mobile view*/
@media screen and (max-width: 960px) {
  .navbar {
    position: relative;
  }

  .nav-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    top: 80px;
    left: -100%;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    z-index: 1;
    left: 0;
    background: #252525;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links:hover {
    background-color: white;
    color: #252525;
  }

  .logo-section {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 30px;
    cursor: pointer;
  }

  /*ADD OTHER MEDIA BREAKS INFO HERE*/
  /* game word size on mobile */
  .word {
    font-size: 60px;
  }
}
